@use '../variables' as *;

.benefits {
  background-color: $bg-tertiary-color;
  padding: 100px 0;

  .benefits-content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__title {
      font-size: 50px;
      font-weight: 600;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    .benefits-item {
      display: flex;
      justify-content: center;
      flex-basis: 360px;
      text-align: left;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__title {
        font-size: 24px;
        font-weight: 600;
      }

      &__text {
        font-size: 18px;
        font-weight: 400;
        color: $text-tertiary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .benefits {
    padding: 40px 0 52px;

    .benefits-content {
      gap: 40px;

      &__title {
        font-size: 30px;
        line-height: 1.4;
        text-align: center;
      }

      &__list {
        gap: 30px;
      }

      .benefits-item {
        flex-basis: 300px;
        text-align: center;

        &__content {
          gap: 10px;
        }

        &__title {
          font-size: 20px;
        }

        &__text {
          font-size: 16px;
        }
      }
    }
  }
}
