@use '../variables' as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  font-size: 18px;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  user-select: none;
  background-color: $controls-bg-primary;
  color: $controls-color-primary;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $controls-bg-primary-hover;
  }

  &--dark {
    background-color: $controls-bg-secondary;

    &:hover {
      background-color: $controls-bg-secondary-hover;
    }
  }
}