@use '../variables' as *;

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $bg-secondary-color;

  &--is-open {
    display: block;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__link {
    color: $text-secondary-color;
    font-size: 30px;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-buttons__btn--close-mobile-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}
