@use '../variables' as *;

.promo-form {
  padding: 87px 0;
  background-color: $bg-accent-color;
  background-image: url('../assets/images/percent.png');
  background-size: auto 120px;
  background-repeat: repeat-x;
  background-position: bottom left;

  &__content {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 144px;
  }

  .promo-form-text {
    padding: 19px 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    gap: 20px;
    color: $text-secondary-color;
    line-height: 1.3;

    &__title {
      font-size: 36px;
      font-weight: 600;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
    gap: 10px;
  }

  .input-field {
    position: relative;
    display: flex;

    &__input {
      width: 100%;
      padding: 18px 20px;
      background-color: $controls-bg-quaternary;
      border: 1px solid $controls-bg-quaternary;
      border-radius: 5px;
      font-size: 18px;

      &:focus {
        border-color: $controls-bg-secondary;
        outline: none;
      }

      &::placeholder {
        color: $text-tertiary-color;
      }

      &--error {
        border-color: $controls-color-error;
      }
    }

    &__error-text {
      display: none;
      position: absolute;
      left: 20px;
      top: 3px;
      font-size: 12px;
      color: $controls-color-error;
    }

    &:has(.input-field__input--error) {
      .input-field__error-text {
        display: block;
      }
    }
  }

  &__btn-submit {
    width: 100%;
    padding: 19px;
  }
}

@media (max-width: 1124px) {
  .promo-form {
    &__content {
      justify-content: center;
      gap: 72px;
    }
    .promo-form-text {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .promo-form {
    padding: 40px 0;
    background-image: none;

    &__content {
      padding: 0px;
      gap: 40px;
    }

    .promo-form-text {
      text-align: center;
      gap: 10px;

      &__title {
        font-size: 30px;
        line-height: 1.4;
      }
    }
  }
}
