@use '../variables' as *;

.slider {
  position: relative;

  &__items {
    display: flex;
    gap: 40px;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .teacher-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 360px;
    flex-shrink: 0;

    &__img {
      width: 100%;
      height: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 20px;
    }

    &__name {
      font-size: 24px;
      font-weight: 600;
      padding-top: 20px;
    }

    &__description {
      font-size: 18px;
      color: $text-tertiary-color;
      padding-top: 10px;
    }

    &__btn {
      font-size: 18px;
      color: $controls-color-error;
      padding-top: 20px;
      margin-top: auto;

      &:hover {
        color: $controls-color-hover;
      }
    }
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

    &__scrollbar {
      position: relative;
      width: 360px;
      height: 5px;
      background-color: $controls-bg-tertiary;
      border-radius: 40px;

      &__bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        height: 5px;
        background-color: $controls-bg-secondary;
        border-radius: 40px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scaleX(1.1);
          cursor: pointer;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 10px;
    }

    &__button {
      width: 40px;
      height: 40px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 768px) {
  .slider {
    &__items {
      gap: 20px;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .teacher-card {
      flex-basis: 220px;

      &__img {
        max-height: 306px;
      }

      &__name {
        font-size: 20px;
      }

      &__description {
        font-size: 14px;
      }

      &__btn {
        font-size: 16px;
      }
    }

    .slider-controls {
      justify-content: center;
      padding-top: 40px;

      &__buttons {
        display: none;
      }
    }
  }
}
