@use '../variables' as *;

.slider {
  &__items {
    display: flex;
    gap: 40px;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    &__scrollbar {
      position: relative;
      width: 360px;
      height: 5px;
      background-color: $controls-bg-tertiary;
      border-radius: 40px;

      &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        height: 5px;
        background-color: $controls-bg-secondary;
        border-radius: 40px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scaleX(1.1);
          cursor: grab;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 10px;
    }

    &__button {
      width: 40px;
      height: 40px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 768px) {
  .slider {
    &__items {
      gap: 20px;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .slider-controls {
      justify-content: center;
      margin-top: 40px;

      &__buttons {
        display: none;
      }
    }
  }
}
