@use '../variables' as *;

.teachers {
  padding: 120px 0 0;

  .teachers-content {
    &__title {
      font-size: 50px;
      font-weight: 600;
    }

    &__slider {
      margin-top: 60px;
    }

    .teacher-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 360px;
      flex-shrink: 0;

      &__img {
        width: 100%;
        height: 100%;
        max-height: 500px;
        object-fit: cover;
        border-radius: 20px;
      }

      &__name {
        font-size: 24px;
        font-weight: 600;
        margin-top: 20px;
      }

      &__description {
        font-size: 18px;
        color: $text-tertiary-color;
        margin-top: 10px;
      }

      &__btn {
        font-size: 18px;
        color: $controls-color-error;
        margin-top: 20px;

        &:hover {
          color: $controls-color-hover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .teachers {
    padding: 60px 0 0;

    .teachers-content {
      &__title {
        font-size: 30px;
        line-height: 1.4;
        text-align: center;
      }

      &__slider {
        margin-top: 40px;
      }

      .teacher-card {
        flex-basis: 220px;

        &__img {
          max-height: 306px;
        }

        &__name {
          font-size: 20px;
        }

        &__description {
          font-size: 14px;
        }

        &__btn {
          font-size: 16px;
        }
      }
    }
  }
}
